[Unit]
Description=Minha Aplicacao Spring Boot

[Service]
ExecStart=/usr/bin/java -jar {{ app_deploy_dir }}/{{ app_jar }}
User=seu_usuario
WorkingDirectory={{ app_deploy_dir }}
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target